.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    display: table-cell;

    cursor: pointer;
}

.button:hover{
    background-color: #a12830;
}